body {
  font-family: 'math';
  font-size: 16px;
}

header {
  background-color: rgb(18, 165, 59);
}

textarea {
  background:#c1c1c1;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #19c939;
  color: #ffffff;
  border-top: 1px dashed #000000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.past {
  background-color: #c1c1c1;
  color: white;
}

.present {
  background-color: #d12f26;
  color: white;
}

.future {
  background-color: #287b28;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
